### 1) Modify the below list by deleting the first element and chaning the last element ot Joe

names = ['Mike' 'Sam', 'Ann', 'Fred']

In [ ]:
name = ['Mike', 'Sam', 'Ann', 'Fred']

name = name[1:]

In [ ]:
for i in range(len(name)):
    if name[i] == 'Fred':
        name[i] = 'Joe'
name

['Sam', 'Ann', 'Joe']

### 2) Create a list `short_names` Jan Sam Ann Joe Tod and sort `short_names` in reverse alphabetic order.

In [ ]:
short_names = ['Jan', 'Sam', 'Ann', 'Joe', 'Tod']

short_names[::-1]

['Tod', 'Joe', 'Ann', 'Sam', 'Jan']

### 3) Finding the maximum even number in a list by iterating over every element. nums = [1, 4, 15, 456, 16, 200, 199]

In [ ]:
nums = [1, 4, 15, 456, 16, 200, 199]

In [ ]:
nums

[1, 4, 15, 456, 16, 200, 199]

In [ ]:
max_even = 0

for num in nums:
    if num % 2 == 0:
        if num > max_even:
            max_even = num

max_even

456

### 4) Add 10 to every element in my_list [5, 20, 50] using `list comprehension`

In [ ]:
my_list = [5, 20, 50]
list2 = [item+10 for item in my_list]
list2

[15, 30, 60]

### 5) Find the sum of each row in a two-dimensional list using `list comprehension`

In [ ]:
my_list = [[5, 10, 15], [2, 3, 16], [100]]

In [ ]:
[sum (row) for row in my_list]

[30, 21, 100]

### 6) Write a list comprehension that contains elements Only negative odd values from the list x

In [ ]:
x = [-1, -19, 21, 31, -44, 3, 4, 10, -1]

In [ ]:
[item for item in x if ((item %2 != 0) and (item < 0)) ]

[-1, -19, -1]